@font-face {
    font-family: tektur;
    src: url('fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf')
}

body {
    background-color: #27262e;
    margin: 0;
    font-family: tektur;
}

nav {
    text-align: center;
  }

ul {
    display: inline-block;
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 0 50px 0 50px;
}

li a{
    color: #14bece;
    font-size: 50px;
    text-decoration: none;
}

li a:hover {
    color: #f57a29;
    font-weight: bold;
}
